:root{width: 100%;
   
        box-sizing: border-box;
        color: #333;
            font-family: 'Poppins';line-height: normal;
}
 @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*a{
    text-decoration: none;
}
.cont{
    margin-left: 263px;
}
.movieRatings{display: flex;justify-content: center;font-family: 'Poppins';
vertical-align: bottom;margin-top: 20px;font-size: 22px;
}
.button{
border: 1px solid;
    border-color: #f8e7eb;width: 84px;margin-left: 32px;
    border-radius: 15px;align-items: center;justify-content: center;
        height: 30px;font-size: 15px;color: #B91C1C;
            font-family: 'Poppins';display: flex;margin-top: 23px;
}
.moviePosters{ 
    border-radius: 20px;width: 1198px;
        height: 449px;
        flex-shrink: 0;margin-top: 38px;
       background-repeat: no-repeat;
       background-size:cover;
}
.playButton{
    fill: rgba(246, 243, 243, 0.941);
        stroke-width: 2px;
        stroke: rgba(246, 243, 243, 0.941);
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.796));
        backdrop-filter: blur(2px);
        width: 110px;margin-left:550px;padding-top:170px;
            height: 110px; display: flex;
            flex-shrink: 0; align-self: center;justify-items: center;
}
.movieTitle{
    margin-top:31px; display: flex;flex-direction: column;color: #404040;
        font-family: 'Poppins';
        font-size: 23px;
        font-style: normal;
        font-weight: 500;
}
.seeTimes{
    width: 360px;
        height: 55px;border-radius: 10px;
            background: #BE123C;margin-top: -10px;
}
.castmembers{
    font-family: 'Poppins';
}
.seeTime {
    width: 360px;
    height: 55px;
    border-radius: 10px;
    border-radius: 10px;
        border: 1px solid #BE123C;
        background: rgba(190, 18, 60, 0.10);
    margin-top: 12px;
}
.seeTimeText{font-family: 'Poppins';
    color:black;padding-top: 13px; justify-content: center;display: flex;vertical-align: middle;
}
.seeTimesText{font-family: 'Poppins';
    color:white;padding-top: 13px;justify-content: center;display: flex;vertical-align: middle;
}
.grid-container {
    display: grid;
    grid-template-columns: 774px auto ;
   grid-column-gap:25px;
   grid-row-gap: 20px;
    padding: 10px;
}
.movieDesc{
    width: 774px;
}
.movieRelated{
    width: 360px;
        height: 229px;
        flex-shrink: 0;
        border-radius: 10px;
        background-image: './related.png';
            background:  lightgray 50% / cover no-repeat;
}