 :root{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;scroll-behavior: smooth;
    justify-content: center;
    width: 100%;
}

 .div-3 {
    background-color: #ffffff;
    height: 2845px;
    position: relative;
    width: 1440px;
}

 .header {
    background-color: transparent;
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

 .navbar {
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

 .search-2 {
    align-items: center;
    border: 2px solid;
    border-color: #D1D5DB;background-color: transparent;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    left: 491px;
    padding: 6px 10px;
    position: absolute;
    top: 20px;
    width: 529px;
}

 .p {
    color: var(--white);
    font-family: "DM Sans", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .search-1 {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
}

 .menu {
    align-items: center;
    display: inline-flex;
    gap: 27px;
    left: 1228px;
    position: absolute;
    top: 22px;
}

 .text-wrapper-3 {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .menu-alt-wrapper {
    background-color: #be123c;
    border-radius: 18px;
    height: 36px;align-items: center;display: flex;justify-items: center;
    position: relative;
    width: 36px;
}

 .menu-alt {
    align-self: center;
    height: 24px !important;
    margin-left: 6px !important;
    position: relative!important;
    margin-top: 6px !important;
    width: 24px !important;
}

 .logo-instance {
    left: 95px !important;
    position: absolute !important;
    top: 15px !important;
}

 .description-box {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    left: 98px;
    position: absolute;
    top: 158px;
}

 .text-wrapper-4 {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 56px;
    margin-top: -1px;
    position: relative;
    width: 404px;
}

 .rating-3 {
    height: 17px;
    position: relative;
    width: 184px;
}

 .IMDB {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 0;
}

 .img-2 {
    height: 17px;
    object-fit: cover;
    position: relative;
    width: 35px;
}

 .text-wrapper-5 {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .rotten-tomatoes {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 135px;
    position: absolute;
    top: 0;
}

 .pngitem-2 {
    height: 17px;
    object-fit: cover;
    position: relative;
    width: 16px;
}

 .john-wick-is-on-the {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    position: relative;
    width: 302px;
}

 .trailButton {
    all: unset;
    align-items: center;
background-color: #BE123C;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 6px 16px;
    position: relative;
}

 .icon-instance-node {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
}

 .watch-trailer {
    color: white;
    font-family: "DM Sans", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .pagination-box {
    height: 110px;
    left: 1380px;
    position: absolute;
    top: 245px;
    width: 36px;
}

 .pagination {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 26px;
    position: absolute;
    top: 0;
}

 .text-wrapper-6 {
    color: var(--gray-400);
    font-family: "DM Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .text-wrapper-7 {
    color: var(--gray-400);
    font-family: "DM Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .text-wrapper-8 {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .rectangle {
    background-color: var(--white);
    border-radius: 6px;
    height: 3px;
    left: 0;
    position: absolute;
    top: 53px;
    width: 20px;
}

 .featured-movie {
    
    margin-left: 4px;
    position: absolute;
    top: 670px;
    width: 1308px;
}

 .title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 64px;
    position: absolute;
    top: 0;
    width: 1244px;
}

 .text-wrapper-9 {
    color: #000000;
    font-family: "DM Sans", Helvetica;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

 .see-more {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

 .text-wrapper-10 {
    color: var(--rose-700);
    font-family: "DM Sans", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

 .movie-list {
    align-items: flex-start;
    display: inline-flex;
    gap: 80px;
    left: 64px;
    position: absolute;
    top: 91px;
}

 .movie-card-instance {
    flex: 0 0 auto !important;
}

 .design-component-instance-node {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-2@2x.png) !important;
}

 .movie-card-2 {
    position: relative !important;
    top: unset !important;
}

 .movie-card-3 {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-1@2x.png) !important;
}

 .movie-card-4 {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-3@2x.png) !important;
}

 .movie-card-5 {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-4@2x.png) !important;
}

 .overlap-group {
    height: 1102px;
    left: 34px;
    position: absolute;
    top: 1377px;
    width: 1368px;
}

 .new-arrival {
    height: 513px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1306px;
}

 .movie-list-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 80px;
    left: 66px;
    position: absolute;
    top: 0;
}

 .movie-card-6 {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-5@2x.png) !important;
}

 .movie-card-7 {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-7@2x.png) !important;
}

 .movie-card-8 {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-9@2x.png) !important;
}

 .movie-card-9 {
    background-image: url(https://cdn.animaapp.com/projects/60fd2757869e989434a4a089/releases/65079c89563939b650df9853/img/poster-image-11@2x.png) !important;
}

 .new-arrival-2 {
    height: 917px;
    left: 0;
    position: absolute;
    top: 185px;
    width: 1368px;
}

 .movie-list-3 {
    align-items: flex-start;
    display: inline-flex;
    gap: 80px;
    left: 66px;
    position: absolute;
    top: 404px;
}

 .footer {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 36px;
    left: 467px;
    position: absolute;
    top: 2626px;
}

 .social {
    flex: 0 0 auto;
    position: relative;
}

 .links {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 48px;
    position: relative;
}

 .text-wrapper-11 {
    color: var(--gray-900);
    font-family: "DM Sans", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

 .text-wrapper-12 {
    color: var(--gray-500);
    font-family: "DM Sans", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

/*                    Respomsive                      */
/*                    FOR MOBILE                      */
@media (min-width: 300px) and (max-width: 576px) {
  .header {
    font-size: 25px;
  }
  .header1 {
    display: none;
  }
  #card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 45%;
    padding: 0;
    margin-left: 33%;
  }
  .card {
    margin: 0 3%;
    height: 30%;
  }
  .card-img-top {
   object-fit: contain;
   height: 40%;
  }
  .card-title {
    font-size: 18px !important;
  }
  .movie {
    font-size: 13px !important;
  }
  .button,
  .buttons {
    font-size: 12px;
  }
  .footer1 {
    font-size: 14px;
    bottom: auto;
  }
}
